@use "../../../global/index" as *;

/* -------------------------------------
        p-news
-----------------------------------------*/
.p-news {

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 50px;
    @include mq(md) {
      gap: 50px 40px;
    }
    @include mq(sm) {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }
  }

  &__pagination {
    margin-top: 80px;
    @include mq(md) {
      margin-top: 60px;
    }
  }

  &__pager {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    margin-top: 40px;
  } 
}