@use "../../../global/index" as *;

/* -------------------------------------
        p-policy
-----------------------------------------*/
.p-policy {
  
  &__text {
    margin-top: 18px;
    @include mq(md) {
      font-size: 1.4rem;
    }

    & + & {
      margin-top: 18px;
    }
  }

  &__list {
    margin-top: 16px;
    @include mq(md) {
      font-size: 1.4rem;
    }
  }

  &__dl {
    margin-top: 16px;
    @include mq(md) {
      font-size: 1.4rem;
    }
    dd {
      margin-left: 18px;
      @include mq(md) {
        margin-left: 16px;
      }
    }

    ul {
      margin-left: -18px;
      @include mq(md) {
        margin-left: -16px;
      }
    }

    li {
      display: flex;
    }
  }

  &__address {
    margin-top: 16px;
    @include mq(md) {
      font-size: 1.4rem;
    }

    &--mt-high {
      margin-top: 40px;
    }
  }

  &__address-title {
    font-weight: $bold;
  }

  &__address-fax {
    display: inline-block;
    margin-left: 40px;
  }

  &__ordered-list {
    counter-reset: number;
    padding-left: 1.2em;
    margin-top: 40px;

    li {
      counter-increment: number;
      text-indent: -0.7em;
      line-height: 1.5;
      @include mq(md) {
        font-size: 1.4rem;
      }

      &::before {
        content: counter(number)". ";
        display: inline-block;
        color: $main-color;
        margin-right: 10px;
        @include mq(md) {
          margin-right: 8px;
        }
      }
    }

    li + li {
      margin-top: 12px;
    }
  }
    
  &__main-title {
    position: relative;
    font-size: 2.4rem;
    font-weight: $medium;
    margin-top: 80px;
    padding-bottom: 10px;
    @include mq(md) {
      font-size: 1.8rem;
      margin-top: 50px;
    }
    
    & + * {
      margin-top: 40px;
      @include mq(md) {
        margin-top: 30px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(
        to right,
        $main-color 7%,
        #ccc 7%
      );
    }
  }

  &__title {
    border-left: 2px solid $main-color;
    font-size: 2rem;
    font-weight: $medium;
    line-height: 1.5;
    padding-left: 12px;
    margin-top: 50px;
    @include mq(md) {
      font-size: 1.6rem;
      margin-top: 40px;
    }

    & + * {
      margin-top: 30px;
      @include mq(md) {
        margin-top: 20px;
      }
    }
  }

  a {
    transition: opacity 0.25s;
    &:hover, &:focus-visible {
      opacity: 0.7;
    }
  }

  &__sub-title {
    font-size: 1.8rem;
    font-weight: $medium;
    line-height: 1.5;
    margin-top: 40px;
    @include mq(md) {
      font-size: 1.5rem;
      margin-top: 30px;
    }

    & + * {
      margin-top: 12px;
    }
  }

  // &__sub-title {
  //   font-size: 1.6rem;
  //   font-weight: $medium;
  //   line-height: 1.5;
  //   margin-top: 40px;
  //   @include mq(md) {
  //     font-size: 1.4rem;
  //     margin-top: 30px;
  //   }

  //   & + * {
  //     margin-top: 5px;
  //   }
  // }

  &__sign {
    margin-top: 40px;
    @include mq(md) {
      margin-top: 30px;
    }
  }

  &__sign-text {
    text-align: right;
    @include mq(md) {
      font-size: 1.4rem;
    }
  }

  &__dot-list {
    padding-left: 1.2em;

    li {
      line-height: 1.6;
      text-indent: -0.9em;
      @include mq(md) {
        font-size: 1.4rem;
        text-indent: -0.8em;
      }
      &:not(:first-child) {
        margin-top: 14px;
        @include mq(md) {
          margin-top: 8px;
        }
      }

      &::before {
        content:  "";
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: $main-color;
        border-radius: 50%;  
        margin-right: 10px;
        margin-bottom: 3px;
        @include mq(md) {
          width: 4px;
          height: 4px;
          margin-right: 8px;
        }
      }
    }
  }

  &__tertiary-title {
    font-weight: $medium;
    line-height: 1.5;
    margin-top: 40px;
    @include mq(md) {
      font-size: 1.5rem;
      margin-top: 30px;
    }

    & + * {
      margin-top: 10px;
    }
  }
}