@use "../../../global/index" as *;

/* -------------------------------------
        p-recruit-recommend
-----------------------------------------*/
.p-recruit-recommend {
  background-color: $main-bg;
  padding: 100px 0;
  @include mq(md) {
    padding: 60px 0;
  }

  .l-grid--col2 {
    @include mq(lg) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}