@use "../../global/index" as *;

/* -------------------------------------
        c-breadcrumb
-----------------------------------------*/
.c-breadcrumb {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.4;
  @include mq(md) {
    display: none;
  }

  &__icon {
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #fff;
    margin: 0 15px;
  }

  .current-item {
    color: rgba($color: #fff, $alpha: 0.7);
  }

  a {
    transition: 0.25s;
    &:hover, &:focus-visible {
      opacity: 0.7;      
    }
  }
}