@use "../../global/index" as *;

/* -------------------------------------
        c-loop2
-----------------------------------------*/
.c-loop2 {
  position: relative;
  overflow: hidden;
  z-index: 4;

  &__inner {
    display: flex;
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 368px;
    margin: 0 20px;
    @include mq(xl) {
      width: 250px;
      margin: 0 16px;
    }
    @include mq(md) {
      width: 138px;
      margin: 0 8px;
    }

    img {
      border-radius: 15px;
      width: 100%;
      @include mq(md) {
        border-radius: 8px;
      }
    }
  }
}

.c-loop2__list--01 {
  animation: loop1 150s -75s linear infinite
}

.c-loop2__list--02 {
  animation: loop2 150s linear infinite
}

@-webkit-keyframes loop1 {
  0% {
      transform: translateX(100%)
  }

  to {
      transform: translateX(-100%)
  }
}

@keyframes loop1 {
  0% {
      transform: translateX(100%)
  }

  to {
      transform: translateX(-100%)
  }
}

@-webkit-keyframes loop2 {
  0% {
      transform: translateX(0)
  }

  to {
      transform: translateX(-200%)
  }
}

@keyframes loop2 {
  0% {
      transform: translateX(0)
  }

  to {
      transform: translateX(-200%)
  }
}
