@use "../../global/index" as *;

/* -------------------------------------
        c-product
-----------------------------------------*/
.c-product {

  &__img {
    border: 2px solid #eee;
    border-radius: 15px;
    overflow: hidden;
    transition: border-color 0.25s;
    @include mq(md) {
      border-radius: 12px;
    }
  }

  &__body {
    margin-top: 10px;
    @include mq(md) {
      margin-top: 5px;
    }
  }

  &__name {
    font-size: 1.8rem;
    font-weight: $medium;
    line-height: 1.5;
    @include mq(md) {
      font-size: 1.4rem;
    }

    &--blue {
      color: $main-color;
    }
  }

  &__text {
    margin-top: 10px;
    @include mq(md) {
      font-size: 1.3rem;
      margin-top: 5px;
    }
  }
}

// link
a.c-product {
  display: inline-block;
  transition: border-color 0.25s;

  .c-product__name {
    position: relative;
    padding-left: 18px;
    @include mq(md) {
      padding-left: 14px;
    }
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 8px;
      height: 13px;
      background: url(../img/icon/icon_angle-right2.svg) no-repeat center / contain;
      @include mq(md) {
      top: 6px;
      left: 0;
      width: 6px;
      height: 10px;
      }
    }
  }
  &:hover, &:focus-visible {

    .c-product__img {
      border-color: $main-color;
    }
  }
}
