@use "../../global/index" as *;

/* -------------------------------------
        c-search
-----------------------------------------*/

.c-search {
  flex-shrink: 0;
}

.gsc-input-box {
  padding: 0!important;
}

form.gsc-search-box {
  margin: 0!important;
}

table.gsc-search-box {
  margin: 0!important;
}

.gsc-results-wrapper-overlay {
  height: 80vh!important;
}

.gsc-control-cse {
  background-color: transparent!important;
  padding: 0!important;
  border: none!important;
}

.gsib_a {
  padding: 0!important;
}

.gsst_a {
  padding: 0!important;
}

.gsc-input-box {
  border: none!important;
  border-radius: 100px 0 0 100px!important;
}

.gsc-input {
  padding-right: 0!important;
}

input.gsc-input {
  background: none!important;
  max-height: 46px!important;
  padding: 20px 10px 20px 14px!important;
}

input.gsc-input::placeholder {
  color: #D1D1D1;
  background: none!important;
  font-weight: $medium!important;
}

// 検索ボタン
.gsc-search-button {
  margin-left: 10px!important;
  background-color: #fff!important;
  border-radius: 0 100px 100px 0!important;
  transform: translateX(-1px);
}
.gsc-search-button-v2 {
  padding: 0 16px 0 10px!important;
  background-color: #fff!important;
  border: none!important;
  margin-left: 0!important;
}

.gsc-search-button-v2 svg {
  width: 16px!important;
  height: 16px!important;
  fill: #246EB8!important;
}

#___gcse_0 {
  border-radius: 100px;
  border: 1px solid #C8C8C8;
}


// footer
#___gcse_1 {
  border-radius: 100px;
  border: 1px solid #C8C8C8;
}

.l-footer__search {
  input.gsc-input {
    max-height: 57px!important;
    padding: 25px 16px 25px 28px!important;
    @include mq(xs) {
      padding: 25px 12px 25px 20px!important;
    }
  }

  input.gsc-input::placeholder {
    color: #D1D1D1;
    font-size: 1.6rem!important;
  }

  .gsc-search-button-v2 {
  padding: 0 30px 0 10px!important;
  background-color: #fff!important;
  @include mq(xs) {
    padding: 0 16px 0 10px!important;
  }
}

  .gsc-search-button-v2 svg {
    width: 18px!important;
    height: 18px!important;
  }

}