@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  line-height: 1.8;
  letter-spacing: 0.05em;
  background-color: #fff;
}

/* -------------------------------------
        c-interview
-----------------------------------------*/
.c-interview + .c-interview {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .c-interview + .c-interview {
    margin-top: 30px;
  }
}
.c-interview__question {
  color: #246EB8;
  font-size: 1.8rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .c-interview__question {
    font-size: 1.6rem;
  }
}
.c-interview__question::before {
  content: "";
  display: inline-block;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  width: 10px;
  height: 8px;
  background: url(../img/icon/icon_hexagon-blue.svg) no-repeat center/contain;
  margin-right: 10px;
}
.c-interview__answer {
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .c-interview__answer {
    font-size: 1.4rem;
    margin-top: 10px;
  }
}

/* -------------------------------------
        c-btn
-----------------------------------------*/
.c-btn {
  display: inline-block;
  position: relative;
  max-width: 315px;
  width: 100%;
  border-radius: 48px;
  background-color: #246EB8;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  z-index: 10;
  padding: 18px 10px;
}
@media screen and (max-width: 767px) {
  .c-btn {
    font-size: 1.4rem;
    padding: 17px 10px;
  }
}
.c-btn::before, .c-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 48px;
  background: rgb(0, 119, 255);
}
.c-btn::before {
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, left top, right top, from(#00A2EC), to(#246EB8));
  background: linear-gradient(90deg, #00A2EC 0%, #246EB8 100%);
}
.c-btn::after {
  z-index: -2;
  background: -webkit-gradient(linear, left top, right top, from(#246EB8), to(#00A2EC));
  background: linear-gradient(90deg, #246EB8 0%, #00A2EC 100%);
}

.c-btn__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  display: inline-block;
  width: 30px;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}
.c-btn__icon::before, .c-btn__icon::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 13px;
  aspect-ratio: 13/10;
  background: url(../img/icon/icon_arrow-right.svg) no-repeat center/contain;
}
.c-btn__icon::after {
  opacity: 0;
}